@import "../variables/Variables.scss";

.navbar {
  width: 90%;
  height: 80px;
  background-color: $maroonColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: $whiteColor;
  font-size: 25px;
  text-decoration: none;
  font-family: $titleFont;
  margin: 10px;
  padding: 15px;
  &:hover {
    background-color: #2244cc;
  }
}

.navbar .links {
  margin-right: 50px;
}
