@import "../variables/Variables.scss";

.navbar {
  width: 90%;
  // height: 80px;
  background-color: $maroonColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar a {
  color: $whiteColor;
  font-size: 18px;
  text-decoration: none;
  font-family: $titleFont;
  margin: 0px;
  padding: 10px;
  &:hover {
    background-color: #2244cc;
  }
}
